/* Small Visual Tweaks by Miriadis */


/* Highlight the Current Playing tracks */
#playlists #currently-playing {
  border: 1px solid var(--color-border-highlight);
  box-shadow: 0 0 10px var(--color-shadow-primary);
}

/* Add border radius if at the bottom */
#playlists #currently-playing.location-bottom {
  border-radius: 0 0 5px 5px;
}


/* Add badge to Private Rolls and Whispers */
#chat-log .chat-message.whisper .message-sender .subtitle:before {
  background-color: rgba(79 121 215 / .2);
  border-radius: 3px;
  content: "Private";
  font-size: .6em;
  font-weight: bold;
  letter-spacing: .1em;
  margin-right: .5em;
  padding: .4em .5em;
  line-height: 1;
  text-transform: uppercase;
  vertical-align: .2em;
}

/* Custom badge for Blind Rolls */
#chat-log .chat-message.blind .message-sender .subtitle:before {
  background-color: rgba(165 57 167 / .2);
  content: "Blind";
}

/* Truncate sender name */
#chat-log .chat-message .message-header .message-sender {
  gap: .4rem;
  overflow: hidden;
}

#chat-log .chat-message .message-sender .name-stacked {
  overflow: hidden;
}

#chat-log .chat-message .message-sender .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Prevent avatar shadow clipping */
#chat-log .chat-message .message-sender .avatar img {
  height: 32px;
  margin: 4px;
  width: 32px;
}
